<form class="form form-insert">
    <h1>Inserir Anime</h1>
    <hr>
    <div class="form-group">
        <label>Nome do Anime:</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label>Quantidade de Temporadas:</label>
        <input type="number">
    </div>
    <div class="form-group">
        <label>Capa do Anime:</label>
        <input #file type="file" accept='image/*' (change)="previsualizarImagem(file.files)">
    </div>
    <img class="img-temp" [src]="imgURL" *ngIf="imgURL">
    <span *ngIf="mensagem">{{ mensagem }}</span>
    <button class="btn-salvar">Salvar</button>
</form>