.hide {
    display: none !important;
}
/* INPUT BUSCAR */
.form-control {
    padding: 12px 6px;
    width: calc(100% - 16px);
    border-radius: 8px;
    margin-bottom: 5px;
    outline: none;
}
#searchInput {
    margin: 25px 8px 5px 8px;
    width: calc(100% - 32px);
    background-color: #616161;
    color: white;
    border: 0.5px solid black;
    box-sizing: initial;
}
.fake-input {
    padding: 12px 6px;
    width: calc(100% - 32px);
    border-radius: 8px;
    margin: 25px 8px 5px 8px;
    background-color: #616161;
    position: relative;
    display: block;
    text-align: center;
    border: 0.5px solid black;
    cursor: text;
    height: 15px;
    box-sizing: initial;
}
/* INPUT BUSCAR */
/* LISTA ANIMES */
#listaAnimes {
    list-style: none;
    padding: 0;
    height: 75vh;
    overflow: auto;
}
#listaAnimes li {
    display: inline-block;
    width: 50%;
    padding: 6px 12px;
    height: 250px;
    overflow: hidden;
}
#listaAnimes li a {
    text-decoration: none;
    color: white;
}
#listaAnimes li a:focus {
    outline: none;
}
#listaAnimes li a .img {
    height: 200px;
}
#listaAnimes li a .img img {
    width: 100%; 
    height: 100%;
}
#listaAnimes li .title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    height: 45px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* LISTA ANIMES */