<router-outlet></router-outlet>
<audio></audio>
<div class="bottom-navigation-bar">
    <div id="miniPlayer">
        <div class="song-data">
            <div class="song-name">Gurenge</div>
            <div class="song-anime">Kimetsu no Yaiba</div>
        </div>
        <div class="music-controller">
            <button class="btn btn-previous"><i class="fas fa-step-backward"></i></button>
            <button class="btn btn-play-pause"><i class="fas fa-pause"></i><!--<i class="fas fa-play"></i>--></button>
            <button class="btn btn-next"><i class="fas fa-step-forward"></i></button>
        </div>
    </div>
    <div class="navigation-bar">
        <a class="btn btn-home" [routerLink]="['list']"><i class="fas fa-home"></i></a>
        <a class="btn btn-favorite"><i class="fas fa-heart"></i></a>
        <a class="btn btn-user"><i class="fas fa-user-circle"></i></a>
    </div>
</div>