/* BOTTOM NAVIGATION BAR */
.bottom-navigation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #2b2b2b;
}
.navigation-bar {
    display: flex;
    justify-content: space-around;
}
.navigation-bar a {
    height: auto;
    font-size: 30px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 1vh;
}
/* BOTTOM NAVIGATION BAR */

/* MINI PLAYER */
#miniPlayer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #585858;
    box-shadow: 0px -10px 20px -1px rgba(0,0,0,0.4);
}
.song-data {
    color: white;
    padding: 5px 5px;
}
.song-data .song-name {
    font-size: 22px;
}
.song-data .song-anime {
    font-size: 15px;
}
.music-controller { 
    padding: 1vh;
}
.music-controller .btn{
    background-color: #585858;
    color: white;
    border: none;
    font-size: 25px;
    padding: 5px;
}
/* MINI PLAYER */